img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-image: linear-gradient(rgba(255, 94, 0, 0.979), rgb(247, 225, 130)); /* Standard syntax (must be last) */
}